<div class="container">
  <div class="jumbotron vertical-center">

    <h2>Calculadora Correios</h2>
    <p>Calculadora de preço e prazo de entrega para PAC e Sedex.</p>
    <hr>

    <%= form_tag "home/result", method: :post do %>

      <%= label_tag "CEP do Remetente" %><br>
      <%= text_field_tag :from, nil, :class => "form-control", :placeholder => "CEP do Remetente" %>

      <br>

      <%= label_tag "CEP do Destinatário" %><br>
      <%= text_field_tag :to, nil, :class => "form-control", :placeholder => "CEP do Destinatário" %>

      <br>

      <div class="row">
        <div class="col-md-3">
          <%= label_tag "Peso (em kg)" %><br>
          <%= text_field_tag :peso, nil, :class => "form-control" %>
        </div>
        <div class="col-md-3">
          <%= label_tag "Comprimento (em cm)" %><br>
          <%= text_field_tag :comprimento, nil, :class => "form-control" %>
        </div>
        <div class="col-md-3">
          <%= label_tag "Largura (em cm)" %><br>
          <%= text_field_tag :largura, nil, :class => "form-control" %>
        </div>
        <div class="col-md-3">
          <%= label_tag "Altura (em cm)" %><br>
          <%= text_field_tag :altura, nil, :class => "form-control" %>
        </div>
      </div>

      <br>

      <%= submit_tag("Calcular", :class => "btn btn-primary btn-lg") %>

    <% end %>

  </div>
</div>