<div class="container">
  <div class="jumbotron vertical-center">

    <h2>Calculadora Correios</h2>
    <hr>

    <%= form_tag "home/result", method: :post do %>

      <%= label_tag "CEP do Remetente" %><br>
      <%= text_field_tag :from, nil, :class => "form-control", :placeholder => "CEP do Remetente" %>

      <br>

      <%= label_tag "CEP do Destinatário" %><br>
      <%= text_field_tag :to, nil, :class => "form-control", :placeholder => "CEP do Destinatário" %>

      <br>

      <%= submit_tag("Calcular", :from => @from, :to => @to, :class => "btn btn-primary btn-lg") %>

    <% end %>

  </div>
</div>